<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true">

  <targets>
    <target xsi:type="File"
      name="file"
      layout="${longdate} : ${message}"
      archiveAboveSize="100000"
      maxArchiveFiles="1"
      archiveFileName="C:\projects\Betreader\reader_log_archive.txt"
      fileName="C:\projects\Betreader\reader_log.txt" />
    <target xsi:type="File"
      name="errors"
      layout="${longdate} : ${message}"
      archiveAboveSize="100000"
      maxArchiveFiles="1"
      archiveFileName="C:\projects\Betreader\errors_archive.txt"
      fileName="C:\projects\Betreader\errors.txt" />
  </targets>

  <rules>
    <logger name="main" minlevel="Info" writeTo="file" />
    <logger name="errors" minlevel="Info" writeTo="errors" />
  </rules>
</nlog>