@{
    ViewBag.Title = "Home Page";
}

<body>
    <div id="mainContainer">

        <div id="content-container" class="contentHolder">
            <div id="tablesWrapper" class="tablesWrapper">
                <div id="toPlayTableWrapper">
                    <h3>Coupons to play</h3>
                    <table id="toPlayContainer" class="display table table-bordered" width="100%">
                        <thead>
                        <tr>
                            <th>Added Time</th>
                            <th>Odds</th>
                            <th>Authors Picks Count</th>
                            <th>Authors Yield</th>
                        </tr>
                        </thead>
                    </table>
                    <button id="toPlayBtn" type="button" class="btn btn-info">Refresh Data</button>
                </div>
                <div id="inPlayTableWrapper">
                    <h3>Coupons in play</h3>
                    <table id="inPlayContainer" class="display table table-bordered" width="100%">
                        <thead>
                        <tr>
                            <th>Added Time</th>
                            <th>Odds</th>
                            <th>Authors Picks Count</th>
                            <th>Authors Yield</th>
                        </tr>
                        </thead>
                    </table>
                    <button id="inProgressBtn" type="button" class="btn btn-info">Refresh Data</button>
                </div>
                <div id="summaryTableWrapper">
                    <h3>Coupons summary</h3>
                    <table id="summaryContainer" class="display table table-bordered" width="100%">
                        <thead>
                        <tr>
                            <th>Added Time</th>
                            <th>Odds</th>
                            <th>Authors Picks Count</th>
                            <th>Authors Yield</th>
                        </tr>
                        </thead>
                    </table>
                    <button id="summaryBtn" type="button" class="btn btn-info">Refresh Data</button>
                </div>
            </div>


            <div id="couponDetailsContainer" style="display: none;">
                <div id="tableDetailsContainer">
                    <h3>Selected coupon: </h3>
                    <div id="detailsActionButtons" class="action-buttons">
                        <button id="playCouponBtn" type="button" class="btn btn-success">Play</button>
                        <button id="dismissCoupon" type="button" class="btn btn-danger">Dismiss</button>
                    </div>
                    <ul id="couponList" class="list-group">
                        <li class="list-group-item">
                            <b>Authors Picks Count:</b>
                            <span id="authorsPickCountId"></span>
                        </li>
                        <li class="list-group-item">
                            <b>Authors Yield:</b>
                            <span id="authorsYieldId"></span>
                        </li>
                        <li class="list-group-item" id="couponUrlId">
                            <b>Coupon Url: </b><a target="_blank" href="">external URL</a>
                        </li>
                        <li class="list-group-item">
                            <b>Description:</b>
                            <span id="descriptionId"></span>
                        </li>
                        <li class="list-group-item">
                            <b>Odds:</b>
                            <span id="OddsId"></span>
                        </li>
                        <div id="picksDetails" class="picksDetails">

                        </div>
                    </ul>
                </div>
            </div>

        </div>
    </div>

</body>